# Sets, Collections, & Exception Handling 

## Sets

* create a new empty set
* print that set

In [2]:
x = set()

print(x)

set()

* create a non empty set
* print that set

In [3]:
non_empty_set= {'f', 'bar', 'argentina', 'o', 'x'}
print(non_empty_set)

{'o', 'argentina', 'x', 'f', 'bar'}

* iterate over the set and print results

In [5]:
for item in non_empty_set:
    print(item)

o
argentina
x
f
bar

* add one item to the set

In [11]:
non_empty_set.add('new')
non_empty_set

{'argentina', 'bar', 'f', 'new', 'o', 'x'}

* add multiple items to the set

In [13]:
list_sub = ['eng','math','CHEM']
non_empty_set.update(list_sub)
non_empty_set

{'CHEM', 'argentina', 'bar', 'eng', 'f', 'math', 'new', 'o', 'x'}

* remove an item from a set if it is present in the set

In [14]:
non_empty_set.remove('eng')
non_empty_set

{'CHEM', 'argentina', 'bar', 'f', 'math', 'new', 'o', 'x'}

* find maximum and minimum values of the set

In [19]:
set_of_numbers = {56, 7 , 88, 9, 11}
print(max(set_of_numbers))
print(min(set_of_numbers))

88
7

* print the length of the set

In [20]:
print(len(set_of_numbers))

5

* create an intersection of x and y

In [36]:
x = {'resident', 'evil', '3', 'Nemesis'}
y = {'resident', 'evil', '4', 'Veronica'}
x.intersection(y)

{'evil', 'resident'}

* create an union of x and y

In [37]:
x |= y
x

{'3', '4', 'Nemesis', 'Veronica', 'evil', 'resident'}

* create difference between x and y

In [39]:
 x.difference(y)

{'3', 'Nemesis'}

---------------
## Collections

* for each word in a sentence count the occurence
* **sentence:** *black cat jumped over white cat*

In [42]:
from collections import Counter
sentence = "black cat jumped over white cat"
sentence_words_split = sentence.split()
print(sentence_words_split)
word_counts = Counter(sentence_words_split)
print(word_counts)

['black', 'cat', 'jumped', 'over', 'white', 'cat']
Counter({'cat': 2, 'black': 1, 'jumped': 1, 'over': 1, 'white': 1})

* print the most common words

In [44]:
print(word_counts.most_common())

[('cat', 2), ('black', 1), ('jumped', 1), ('over', 1), ('white', 1)]

* count the occurences of words in the same sentence but now use **defaultdict**

In [46]:
from collections import defaultdict
count = defaultdict(int)

for ocurrences in sentence_words_split:
    count[ocurrences] +=1
print(count)

defaultdict(<class 'int'>, {'black': 1, 'cat': 2, 'jumped': 1, 'over': 1, 'white': 1})

* create deque from list set used in first exercise

In [47]:
from collections import deque

deq = deque(non_empty_set)
print(deq)

deque(['new', 'math', 'CHEM', 'o', 'argentina', 'x', 'f', 'bar'])

* remove element from the right end from deque

In [49]:

deq.pop()
print(deq)

deque(['new', 'math', 'CHEM', 'o', 'argentina', 'x', 'f'])

* remove element from the left end from deque

In [50]:
deq.popleft()
print(deq)

deque(['math', 'CHEM', 'o', 'argentina', 'x', 'f'])

* delete all elements from deque

In [52]:
deq.clear()
deq

deque([])

* create named tuple (people) with name and surname as position names

In [65]:
from collections import namedtuple
Peoplename = namedtuple('People',['name', 'surname'])
full_info = Peoplename('John','Clarke')
print(full_info.surname)

Clarke

_________________
## Exception handling
Now, let's practice with **errors and exception handling**

* Transform all string elements from a list to upper, if the element is not a string don't transform it.
* Use a try & except block without using the 'if' statement.

In [74]:
string_list = ["a", "b", "c", "d", 45, "t"]

for i in range(len(string_list)):
    try:
        string_list[i] = string_list[i].upper()
  
    except:
        print("Detected Value is not a string")
print(string_list)

Detected Value is not a string
['A', 'B', 'C', 'D', 45, 'T']

### We have created a function below:

Luke Skywalker has family and friends. Help him remind himself the type of relation he has with his family and friends. 

Given a string with a name, return the relation of that person to Luke.

**Person --> Relation**
- Darth Vader --> father
- Leia --> sister
- Han --> brother in law
- R2D2 --> droid

#### Examples

> relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
>
> relation_to_luke("Leia") ➞ "Luke, I am your sister."
>
> relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [82]:
def relation_to_luke(text):
    _dict =   {
     'Darth Vader' : 'father',
     'Leia'   : 'sister',
     'Han': 'brother in law',
     'R2D2': 'droid', }
 
    print(f"Luke, I am your  { _dict[text]}")

#### Task I
Fix errors in the function above so we can run following code

In [83]:
relation_to_luke("Darth Vader")
relation_to_luke("Leia")
relation_to_luke("Han")
relation_to_luke("R2D2")

Luke, I am your  father
Luke, I am your  sister
Luke, I am your  brother in law
Luke, I am your  droid

#### Task II
Use exception handling so we can run the function with any string. In this case, the function will return following:

**relation_to_luke("aaaa") ➞ "aaaa is not in the relation with Luke"**

**Note:** Do **Not** use an **if** statement for this

In [86]:
def relation_to_luke(text):
    _dict =   {
     'Darth Vader' : 'father',
     'Leia'   : 'sister',
     'Han': 'brother in law',
     'R2D2': 'droid', }
    try:
        text in _dict 
        print(f"Luke, I am your  { _dict[text]}")
    except:
        print(text +  "is not in the relation with Luke")

In [88]:
relation_to_luke("aaaa")
relation_to_luke("Darth Vader")

aaaais not in the relation with Luke
Luke, I am your  father